<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
 <title>Logowanie</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<body>
 <div class="container">
  <div class="alert alert-danger" role="alert" th:if="${param.error}">
   Nieprawidlowe dane.
  </div>
        <form th:action="@{/login}" method="post" >
          <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
    <label for="inputLogin" class="sr-only">Login</label>
       <input type="text" id="login" name="login" class="form-control" placeholder="Login" required autofocus>
       <label for="inputPassword" class="sr-only">Haslo</label>
       <input type="password" id="password" name="password" class="form-control" placeholder="Haslo" required>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
       <div class="margin-top20 text-center"> Nie masz konta? <a th:href="@{/signup}">Zarejestruj sie.</a></div>
  </form>
    </div>
</body>
</html>